.wrapper {
    width: 800px;
    margin: 0px auto;
    margin-top: 40px;
}

h1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

a {
  display: block;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 0px auto;
}
